body {
	background: #ffcc77;
	color: #442200;
	text-align: center;
	font-variant: small-caps;
}
h1 {color: #dd0000;}
table { border: double 2pt;
	border-collapse: collapse;
	background: #eee7dd
}
thead { background: #ffff00 }
td { border: 1px solid black; margin: 0px }
 .hi, td:first-child { font-weight: 700 }
 td.n { font-weight: normal }
 .a {background: #ffffff}
#semaforo > button {
  height: 5ex; width: 15ex;
  margin: 1ex;
  border: 1px solid;
  font-weight: bold;
  color: black;
}
#semaforo > button[value="0"] {background: #999999}
#semaforo > button[value="1"] {background: lightgreen}
#semaforo > button[value="2"] {background: darkorange}
#semaforo > button[value="3"] {background: red}


